body {
    margin: 0;
    padding: 0;
}

ul,
p,
h1,
h2,
h3 {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

/* Styles for the header */
.header {
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-link {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.header-link:hover {
    font-weight: 400;
    font-size: 24px;
    color: #b2ffa6;
}

.header-list {
    display: flex;
    gap: 100px;
}

/* Styles for the main */
/* Styles for the first section */
.free-title {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 64px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 20px;
}

.free-title-2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 50px;
}

.free-link {
    border-radius: 5px;
    padding: 15px 80px;
    background: #b2ffa6;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: #000;
}

.free-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Styles for the second section */
.more-container {
    display: flex;
    background: #efefef;
}

.more-title {
    margin-top: 98px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 30px;
}

.more-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #000;
    margin-bottom: 60px;
}

.more-link {
    border-radius: 5px;
    padding: 15px 80px;
    background: #b2ffa6;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.06em;
    color: #000;
    margin-bottom: 99px;
}

.more-img {
    width: 714px;
}

/* Styles for the third section */
.info {
    padding: 60px 0;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    gap: 115px;
}

.info-item {
    display: flex;
    width: 407px;
}

.info-logo {
    margin-right: 28px;
    width: 50px;
    height: 50px;
}

.info-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
    color: #000;
    font-family: "Raleway", sans-serif;
}

.info-text {
    font-weight: 400;
    font-size: 24px;
    color: #000;
    font-family: "Raleway", sans-serif;
}

.service-container {
    text-align: center;
}

.service {
    background: #efefef;
}

.service-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.service-text {
    font-family: "Raleway", sans-serif;
    margin-bottom: 56px;
}

.service-list {
    display: flex;
    justify-content: space-between;
}

.service-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #a2fca6;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: transparent;
}
.service-link:hover {
    background-color: #a2fca6;
    color: #fff;
}

.service-list-title {
    margin-bottom: 40px;
    display: flex;
}

footer {
    background: #121212;
    margin-top: 10px;
}

.footer-container {
    display: flex;
}

.footer-text {
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: #fff;
    font-family: "Raleway", sans-serif;
    margin-left: 880px;
}

.footer-title {
    font-weight: 300;
    font-size: 40px;
    text-transform: capitalize;
    color: #fff;
    margin-left: 50px;
}

